.PageContainer{
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF9F2;
}

.ContentContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    background-color: #FFF9F2;
    margin-bottom: 160px;
}

.PageTitleDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0px;
}

.PageTitle{
    font-family: monospace;
    font-size: 100px;
    margin-bottom: 30px;
    text-align: center;
}

.PageSubTitle{
    font-family: monospace;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.LangImage{
    flex-basis: 18%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px 10px;
    transition: transform 0.1s ease-in;  
}

.LangImage:hover{
    flex-basis: 18%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px 10px;
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.1));
    filter: drop-shadow(0 4px 10px rgba(0,0,0,0.05));
    transform: translateY(-3px); 
}

.LangImage:active{
    flex-basis: 18%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px 10px;
    opacity: 0.4;
}