.PageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF9F2;
}

.ContentContainer{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    background-color: #FFF9F2;
}

.PageTitleDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px 0px;
}

.PageTitle{
    font-family: monospace;
    font-size: 100px;
    margin-left: 10px;
    margin-bottom: 30px;
}

.PageSubTitle{
    font-family: monospace;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.LangImage{
    flex-basis: 18%;
    height: 120px;
    object-fit: cover;
    border-radius: 20px;
    margin: 10px 10px;
}